:root {
    --couleur1: #E8F9FF; /*bleu*/
    --couleur2: #FFF4F1; /*orange*/
    --couleur3: #F9E8FF; /*rose*/
    --couleur4: #F8FFF5; /*vert*/
}

header {
    background-color: var(--couleur1);
    margin-bottom: 5%;
}

.flexZone, #flexZone{
    display: flex;
    flex-direction: row;
}

/*Affichage dans index*/
.film img {
    height: 60vh;
}

.film{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--couleur3);
    background-color: var(--couleur1);
    margin-right: 10%;
    height: fit-content;
    padding-left: 5%;
    padding-right: 5%;
}
/*Fin de l'affichage pour index*/


/*Affichage dans movie*/
.comment img {
    max-width: 3%;
    height: auto;
    /*Masquer les alt quand l'image n'est pas trouvée*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    /*Fin de la méthode*/
}

.comment {
    border: solid var(--couleur1);
    background-color: var(--couleur4);
    margin-bottom: 2%;
    padding: 20px;
}

#poster{
    height: 40vh;
    padding-right: 10%;
    margin-top: 16px;
}

.afficheBouton {
    display: flex;
    justify-content: space-around;
    background-color: var(--couleur1);
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 8px #abbecf
}

#lienBoutton{
    text-align: center;
    font-size: 2rem;
}

#titre{
    margin-top: 30px;
}
/*Fin de l'affichage pour movie*/
